.header-bg{
    background-color: #FFF9F4;
}
.text-color a{
    color: #3C3C3C
}
.nike{
    color: #FA804C;
}
.run{
    color: #3D4FF3;
}
.img-bg{
    background-color: rgb(230, 223, 223);
}
.taka{
    color: #FA804C;
}